h1{
color:red;
}

h2{
color:red;
}

body{
background-color: lightblue;
}

img{
      width: 400px;
      height: 300px;
      display: block;
      margin: 0 auto;}


    #btnArriba {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;  
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


